@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');

.App {
  display: grid;
  text-align: center;
 
}


.org-container {
  display: flex;
  justify-content: center;
}
.line {
  height: 2px;
  width: 15vw;
  background-color: black;
}
#org {
  position: relative;
  bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

/* graph containers */
.bubble-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 226, 233);
  margin-top: 40px;
}
.bar-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pie-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* graphs */
#piediv {
  width: 100%;
  height: 300px;
  z-index: 1;
}
#bubblediv {
  width: 100%;
  height: 700px;
}
#bardiv {
  width: 100%;
  height: 500px;
}

.footer-outer {
  display: flex; 
  justify-content: center;
  padding-bottom: 15px;
}
.vert-line {
  height: 60px;
  width: 2px;
  background-color: black;
  margin-right: 30px;
  margin-left: 30px;
}

/*  */
@media screen and (min-width: 450px) {
  #piediv {
    width: 45%;
    height: 500px;
  }
  #bubblediv {
    width: 65%;
    height: 500px;
  }
  #bardiv {
    width: 75%;
    height: 500px;
  }
  .pie-outer {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    padding-left: 75px;
  }
  .bubble-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
    /* padding-right: 75px; */
    /* position: relative; */
    /* bottom: 75px; */
  }
  .bar-outer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
  }
  .pie-inner {
    display: flex;
    justify-content: space-between;
  }
  .header-outer {
   background-color: azure; 
  }
  h2 {
    font-size: 40px;
  }
  h1{
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
  }
}



