.App {
  display: grid;
  text-align: center;
 
}

.header {
  box-shadow: 0px 14px 9px 4px rgba(0,0,0,0.2);
}

/* graph containers */
.bubble-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bar-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pie-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* graphs */
#piediv {
  width: 100%;
  height: 300px;
  z-index: 1;
}
#bubblediv {
  width: 100%;
  height: 700px;
}
#bardiv {
  width: 100%;
  height: 500px;
}

/*  */
@media screen and (min-width: 450px) {
  #piediv {
    width: 45%;
    height: 500px;
    /* border-radius: 20px;
    box-shadow:14px 14px 11px 15px rgba(0,0,0,0.25); */
  }
  #bubblediv {
    width: 65%;
    height: 500px;
    /* border-radius: 20px;
    box-shadow:14px 14px 11px 15px rgba(0,0,0,0.25); */
  }
  #bardiv {
    width: 75%;
    height: 500px;
    /* border-radius: 20px;
    box-shadow:14px 14px 11px 15px rgba(0,0,0,0.25); */
  }
  .pie-outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 75px;
  }
  .bubble-outer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 75px;
    position: relative;
    bottom: 75px;
  }
  .bar-outer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
  }
  .header-outer {
    display: flex;
    justify-content: flex-end;
  }
  .header {
    border-radius: 50px 0 50px 0;
    box-shadow: 0px 9px 19px 2px rgba(0,0,0,0.2);
  }
  h2 {
    font-size: 40px;
  }
  h1 {
    font-size: 60px;
  }
}



